<%= form_for(group) do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :managers_id %>
    <%= f.text_field :managers_id %>
  </div>

  <div class="field">
    <%= f.label :members_id %>
    <%= f.text_field :members_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
