<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Managers:</strong>
  <%= @group.managers %>
</p>

<p>
  <strong>Members:</strong>
  <%= @group.members %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
